[submodule "themes/typography"]
	path = themes/typography
	url = git@github.com:qianbinbin/hexo-theme-typography.git
[submodule "themes/next"]
	path = themes/next
	url = git@github.com:qianbinbin/hexo-theme-next.git
