[submodule "themes/cactus"]
	path = themes/cactus
	url = git@github.com:qianbinbin/hexo-theme-cactus.git
[submodule "source/downloads/code/csapp-labs"]
	path = source/downloads/code/csapp-labs
	url = git@github.com:qianbinbin/csapp-labs.git
[submodule "source/downloads/code/ostep/ostep-code"]
	path = source/downloads/code/ostep/ostep-code
	url = git@github.com:qianbinbin/ostep-code.git
[submodule "source/downloads/code/xv6-public"]
	path = source/downloads/code/xv6-public
	url = git@github.com:mit-pdos/xv6-public.git
[submodule "source/downloads/code/ostep/ostep-homework"]
	path = source/downloads/code/ostep/ostep-homework
	url = git@github.com:remzi-arpacidusseau/ostep-homework.git
